.popup__save {
    background-color: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: 22px;
    margin: 18px 36px;
    padding: 0;
    text-align: center;
    transition: opacity .2s;
    width: 358px;
}

@media screen and (max-width: 550px) {
    .popup__save {
        max-width: 238px;
        margin: 0 22px 25px;
    }
}